
.left_box {
    float:left;
    width: 350px;
    
}
.right_text {
    float:right;
    width:350px;
}

.content_box {
    width: 750px;
    margin: 0 auto;
    border-bottom-color: aliceblue;
    height: 1000px
}

.content_location {
    width: 750px;
    margin: 0 auto;
    border-bottom-color: aliceblue;
    height: 500px
}

.top_line {
    border-top: 2px solid;
    border-color: orange;
    
}
.bottom_line {
    border-bottom: 2px solid;
    border-color: orange;
}


.img_items {
    width: 350px;
    justify-content: center;
    align-content: center;
    text-align: 
}
#p_description {
    color: grey;
}

#p_title {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

#p_smalltext {
    font-size: 12px;
    padding: 0px;
    margin-top: 5px;
    color: gray;
    line-height: 1.6;
}


.glyphicon-info-sign {
    text-indent: -30px;
    color: orange;  
    
}

.glyphicon-calendar {
    text-indent: -30px;
    color: orange;  
    
}

.glyphicon-envelope {
    text-indent: -30px;
    color: orange; 
}

.glyphicon-map-marker {
    color: orange; 
}


.slash_color {
    color: orange
}

@media only screen and (max-width: 700px) {
    .left_box {
    float:none;
    width: 100%;
        justify-content: center;
        align-content: center;
        text-align: center;
    
 }
    .right_text {
    float:none;
    width:100%;   
}
    
    .content_location {
    width: 100%;
    margin: 0 auto;
    }
        iframe {
            width:100%;
            
        }
    .content_box {
    width: 100%;
    border-bottom-color: aliceblue;
    height: 1000px
    }
    .lower_box {
    padding-top: 200px
    }
    
    p {
        margin-left: 15px;
    }


}

    
