@font-face {
    font-family: 'futura';
    src: url('../font/futura_bold_font-webfont.woff2') format('woff2'),
         url('../font/futura_bold_font-webfont.woff') format('woff');
    font-style:normal;
}
        
@font-face {
    font-family: 'futura2';
    src: url('../font/futura_medium_bt-webfont.woff2') format('woff2'),
         url('../font/futura_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.s1{
    background-color: white; 
    padding-left: 10px; 
    padding-right: 10px; 
    font-family: 'futura';
    font-size: 40px; color: #FF7E42; 
    letter-spacing: -1px; 
    border: 5px solid #FF7E42;
    box-shadow: 3px 5px 10px #C0C0C0;
}

.all{
    width: 318px;
    height: 100px;
    color: #FDED5C; 
    font-family: 'futura'; 
    font-size: 30px; 
    font-weight: 1000; 
    letter-spacing: -1px;
}

.addeventatc {
    display:inline-block;
    float: right; 
    position:relative;
    z-index:999998; 
    font-family:'futura2',Roboto,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-weight:300;
    color:#FF7E42;
    text-decoration:none;
    font-size:16px;
    cursor:pointer;
}


.addeventatc .start, .addeventatc .end, .addeventatc .timezone, .addeventatc .title, .addeventatc .description, .addeventatc .location, .addeventatc .organizer, .addeventatc .organizer_email, .addeventatc .facebook_event, .addeventatc .all_day_event, .addeventatc .date_format, .addeventatc .alarm_reminder, .addeventatc .recurring, .addeventatc .attendees, .addeventatc .calname, .addeventatc .uid, .addeventatc .status, .addeventatc .method, .addeventatc .client {
    display:none!important;
}

/* The drop down */
.addeventatc_dropdown {
    width:200px; 
    position:absolute;
    z-index:99999;
    padding:6px 0px 0px 0px;
    background:#fff;
    text-align:left;
    display:none;
    margin-top:4px;
    margin-left:-1px;
    border-top:1px solid #c8c8c8;
    border-right:1px solid #bebebe;
    border-bottom:1px solid #a8a8a8;
    border-left:1px solid #bebebe;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);
    -moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);
    box-shadow:1px 3px 6px rgba(0,0,0,0.15);
}

.addeventatc_dropdown span {
    display:block;
    line-height:100%;
    background:#fff;
    text-decoration:none;
    font-size:14px;
    color:#333;
    padding:9px 10px 9px 40px;
}

.addeventatc_dropdown span:hover {
    background-color:#f4f4f4;
    color:#000;
    text-decoration:none;
    font-size:14px;
}

.addeventatc_dropdown em {
    color:#999!important;
    font-size:12px!important;
}

.addeventatc_dropdown .ateappleical {
    background:url(../img/gfx/icon-apple-t1.svg) 13px 50% no-repeat;
    background-size:14px auto;
}

.addeventatc_dropdown .ategoogle {
    background:url(../img/gfx/icon-google-t1.svg) 13px 50% no-repeat;
    background-size:16px auto;
}

.addeventatc_dropdown .ateoutlook {
    background:url(../img/gfx/icon-outlook-t1.svg) 12px 50% no-repeat;
    background-size:16px auto;
}

.addeventatc_dropdown .ateoutlookcom {
    background:url(../img/gfx/icon-outlook-t1.svg) 12px 50% no-repeat;
    background-size:16px auto;
}

.addeventatc_dropdown .ateyahoo {
    background:url(../img/gfx/icon-yahoo-t1.svg) 12px 50% no-repeat;
    background-size:16px auto;
}

.addeventatc_dropdown .atefacebook {
    background:url(../img/gfx/icon-facebook-t1.svg) 13px 50% no-repeat;
    background-size:14px auto;
}

.addeventatc_dropdown .copyx {
    height:21px;
    display:block;
    position:relative;
    cursor:default;
}
.addeventatc_dropdown .brx {
    height:1px;
    overflow:hidden;
    background:#e0e0e0;
    position:absolute;
    z-index:100;
    left:10px;
    right:10px;
    top:9px;
}

a{
	text-decoration:none;
    color: #FF7E42;
}


.outerbox {
    background-image: url(../img/event.jpg); 
    width: 400px; 
    height: 500px; 
    overflow: hidden;
}

.button {
    background-image: url(../img/arrows.png); 
    color: white; 
    width:50px; 
    height: 45px; 
    position:absolute; 
    top: 450px; 
    left: 190px; 
    background-repeat: no-repeat;
}

.button2 {
    background-image: url(../img/arrows2.png); 
    width:50px; 
    height: 45px; 
    position:relative; 
    top: 20px; 
    left: 190px; 
    background-repeat: no-repeat; 
}

.innerbox {
    background-image: url(../img/back.png); 
    position: relative; 
    width: 500px; 
    height: 500px; 
    top: 500px;
}

.innerbox-active {
    background-image: url(../img/back.png); 
    position: relative; 
    width: 500px; 
    height: 500px; 
    top: 0px;
}

.innerbox-active2 {
    background-image: url(../img/back.png); 
    position: relative; 
    width: 500px; 
    height: 500px; 
    op: 500px;
}
#text {
    width: 300px; 
    margin-left: 80px; 
    letter-spacing: 1px;
    color:white; 
    font-size:45px; 
    font-family: 'futura' 
}

#text2 {
    width: 300px; 
    margin-left: 90px; 
    margin-top: 10px; 
    letter-spacing: -2px;
    color:white; 
    font-size:35px; 
    font-family: 'futura2' 
}
#text3 {
    width: 300px; margin-left: 90px; 
    margin-top: 20px; 
    letter-spacing: -2px;
    color:white; 
    font-size:35px; 
    font-family: 'futura2' 
}
#text4 {
    width: 300px; 
    margin-left: 90px; 
    margin-top: 20px;
    letter-spacing: -2px;
    color:white; 
    font-size:35px; 
    font-family: 'futura2' 
}

.cale { 
    background-image: url(../img/ca.png); 
    width:40px; 
    height: 40px; 
    margin-top: 10px; 
    margin-left: 30px; 
    background-repeat: no-repeat; 
    float: left; 
}

           
.cale2 { 
    background-image: url(../img/lo.png); 
    width:40px; 
    height: 40px;  
    margin-top: 25px;
    margin-left: 35px; 
    background-repeat: no-repeat; 
    float: left; 
}

.cale3 { 
    background-image: url(../img/me.png); 
    width:40px; 
    height: 40px; 
    margin-top: 25px; 
    margin-left: 35px; 
    background-repeat: no-repeat; 
    float: left; 
}

.transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
} 